<% wrap_layout :layout do %>
  <div class="row">
    <div class="small-12 large-10 columns">
      <h2>
        <a href="<%= current_article.url %>"><%= current_article.title %></a>
        <small>
          <time><%= current_article.date.strftime('%b %e %Y') %></time>
        </small>
      </h2>
      <%= yield %>
    </div>

    <div class="row">
      <hr>
      <div class="large-8 columns large-offset-1">
        <p>
          <a href="/">Ruby Lugdunum (aka RuLu)</a> is a two-day conference dedicated to exploring the Ruby language and basking in warmth of the amazing Ruby community.
        </p>
        <p>
          RuLu 2014 takes place in Lyon, France on June 19th and 20th.
        Have a look at
        <%= link_to 'the talks', '/speakers' %>,
        read
        <%= link_to 'the blog', '/blog' %></li> and
        <a href="/">get your ticket</a>!
        </p>
      </div>
    </div>

  </div>
<% end %>
