%h4 About Eloy
%p
  Eloy Durán is a professional gesticulator hailing from Amsterdam
  where he lives on a houseboat. He has long been working at the intersection
  of open-source Ruby and Objective-C/Cocoa on open-source projects such as
  = succeed ',' do
    = link_to 'RubyCocoa', 'http://rubycocoa.sourceforge.net'
  = succeed ',' do
    = link_to 'MacRuby', 'http://macruby.org'
  and
  = link_to 'CocoaPods', 'http://cocoapods.org'
  (the dependency manager for Objective-C projects).
  This combination has lead to his current job at HipByte where he works on
  = succeed ',' do
    = link_to 'RubyMotion', 'http://www.rubymotion.com'
  bringing the joy of Ruby to OS X and iOS development.
  You can find him on
  = link_to 'github', 'https://github.com/alloy'
  and
  = succeed '.' do
    = link_to 'twitter', 'https://twitter.com/alloy'

