%h4 About Tom
%p
  Tom is a computer scientist and programmer.
  He has lectured on optimising compilers at the University of Cambridge,
  co-organises the
  = succeed ',' do
    = link_to 'Ruby Manor Conference', 'http://rubymanor.org/'
  and is a member of the
  = succeed '.' do
    = link_to "London Ruby User Group", 'https://twitter.com/lrug'
  His latest book,
  = succeed ',' do
    = link_to "Understanding Computation", 'http://shop.oreilly.com/product/0636920025481.do'
  was published by O’Reilly in 2013.
