%footer
  .container
    .links
      .previous-editions
        = link_to '2013', 'http://2013.rulu.eu'
        |
        = link_to '2012', 'http://2012.rulu.eu'
        |
        = link_to '2011', 'http://2011.rulu.eu'
        |
        = link_to 'About', '/about'

      .newsletter
        = link_to 'Stay tuned!', '/newsletter'
