%header
  #topbar
    .container
      #logo= link_to 'RuLu Conference', '/'
      %nav
        %ul
          %li= link_to 'Speakers', '/speakers'
          %li= link_to 'Sponsors', '/sponsors'
          %li= link_to 'Blog', '/blog'

  #pageheader
    .container
      %h1
        = current_page.data.title
