---
title: RuLu 2014
---
<section class="intro-wrapper">
  <div class="intro">
    <div class="row">
      <div class="small-12 large-12 columns">
        <h1><span>RuLu</span> Ruby Conference</h1>
        <h3 class="subheader">A two days conference dedicated to Ruby</h3>
        <h3 class="subheader">19-20th June 2014 | Lyon, France</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <article class="small-12 large-10 columns">
      <header>
        <h4><b>RuLu</b> 2014</h4>
      </header>
      <p>Ruby Lugdunum (aka RuLu) is a two days conference dedicated to the Ruby language and <b>the amazing Ruby community</b>.
      RuLu 2014 takes place in <b><%= link_to "Lyon", 'http://goo.gl/maps/ItngA' %></b> on <b>June 19th, and 20th.</b> Don't miss it!</p>
    </article>
  </div>
</section>

<section>
  <div class="row speakers">
    <article class="small-12 large-10 columns">
      <header>
        <h4>Speakers</h4>
      </header>

      <ul class="large-block-grid-3 small-block-grid-2">

        <li>
          <a href="/speakers#joshua"><%= image_tag 'speakers/joshua.jpeg' %></a>
          <p class="speaker-name"><b>Joshua Ballanco</b></p>
        </li>

        <li>
          <a href="/speakers#paolo"><%= image_tag 'speakers/paolo.jpeg' %></a>
          <p class="speaker-name"><b>Paolo "Nusco" Perrotta</b></p>
        </li>

        <li>
          <a href="/speakers#tom"><%= image_tag 'speakers/tom.jpeg' %></a>
          <p class="speaker-name"><b>Tom Stuart</b></p>
        </li>

        <li>
          <a href="/speakers#emily"><%= image_tag 'speakers/emily.jpeg' %></a>
          <p class="speaker-name"><b>Emily Stolfo</b></p>
        </li>

        <li>
          <a href="/speakers#yannick"><%= image_tag 'speakers/yannick.jpeg' %></a>
          <p class="speaker-name"><b>Yannick Schutz</b></p>
        </li>

        <li>
          <a href="/speakers#chris"><%= image_tag 'speakers/chris.jpeg' %></a>
          <p class="speaker-name"><b>Chris Kelly</b></p>
        </li>

        <li>
          <a href="/speakers#arnab"><%= image_tag 'speakers/arnab.jpeg' %></a>
          <p class="speaker-name"><b>Arnab Deka</b></p>
        </li>

        <li>
          <a href="/speakers#sam"><%= image_tag 'speakers/sam.jpeg' %></a>
          <p class="speaker-name"><b>Sam Phippen</b></p>
        </li>

        <li>
          <a href="/speakers#eloy"><%= image_tag 'speakers/eloy.jpeg' %></a>
          <p class="speaker-name"><b>Eloy Durán</b></p>
        </li>

      </ul>
    </article>
  </div>
</section>

<section>
  <div class="row">
    <article class="small-12 large-10 columns">
      <h4>Get a ticket</h4>
      <p>Two full days of great talks, a fun party on Thursday night, with free lunches both days, plus tea, coffee, and snacks.</p>
      <%= link_to "Tickets available now", '/tickets', class: 'button' %>
    </article>
  </div>
</section>
