---
style: homepage
title: RuLu 2014
---
%h2
  RuLu Ruby Conference 2014

%p.striking
  Ruby Lugdunum 2014 (aka RuLu) is a two-day conference
  dedicated to the
  = succeed '.' do
    = link_to "Ruby Programming Language", 'https://www.ruby-lang.org/'
  It will take place in
  = link_to "Lyon, France", 'http://goo.gl/maps/ItngA'
  19-20th of June.

%h2
  Tickets

%p
  %b
    Early bird tickets
  are on sale!
  Don't wait too long!

%p
  The ticket includes: access to conference (talks) and to the workshops,
  breakfast and lunch (Thursday and Friday),
  invitation to the party (on Thursday night).

= partial 'buy_your_tickets'

%h2
  Venue

%p
  Speakers and attendees really enjoyed the venue we had for the last two years,
  so we stick to
  = succeed '.' do
    %b La Manufacture des Tabacs
  Amazing place!

= image_tag 'img/manufacture-night.png', alt: "La Manufacture des Tabacs"

%h2
  Schedule

%p
  This year the event will last for two days:
%ul
  %li one day and a half dedicated to the talks
  %li one afternoon for the workshops

%p
  So we should have about 12 talks on single track.

%p
  %b
    It starts on Thursday and ends on Friday.
  But we encourage you stay on Saturday for the Music Festival a.k.a
  = succeed '.' do
    = link_to "Fête de la Musique", 'https://en.wikipedia.org/wiki/F%C3%AAte_de_la_Musique'

%h2
  Call For Proposal

%p
  The Call For Proposal is open till the end of March.
  So you still have time to
  = succeed '!' do
    = link_to "submit your talk", '/cfp'

%p
  %b
    We are looking for 30 minutes talks
  about the Ruby language and the Ruby community.
  So this is fine if you talk is not
  %emph
    about
  Ruby as long as it is relevant to the Ruby developers!

