---
title: RuLu 2014
---
<section class="intro-wrapper">
  <div class="intro">
    <div class="row">
      <div class="small-12 large-12 columns">
        <h1><span>RuLu</span> Ruby Conference</h1>
        <h3 class="subheader">A two-day conference dedicated to Ruby</h2>
        <h3 class="subheader">19-20th June 2014 | Lyon, France</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <article class="small-12 large-10 columns">
      <%= partial 'intro' %>
    </article>
  </div>
</section>

<section>
  <div class="row speakers">
    <article class="small-12 large-10 columns">
      <header>
        <h4>Speakers</h4>
      </header>

      <ul class="large-block-grid-3 small-block-grid-2">

        <li>
          <a href="/speakers#joshua"><%= image_tag 'speakers/joshua.jpeg' %></a>
          <p class="speaker-name"><b>Joshua Ballanco</b></p>
        </li>

        <li>
          <a href="/speakers#paolo"><%= image_tag 'speakers/paolo.jpeg' %></a>
          <p class="speaker-name"><b>Paolo "Nusco" Perrotta</b></p>
        </li>

        <li>
          <a href="/speakers#tom"><%= image_tag 'speakers/tom.jpeg' %></a>
          <p class="speaker-name"><b>Tom Stuart</b></p>
        </li>

        <li>
          <a href="/speakers#emily"><%= image_tag 'speakers/emily.jpeg' %></a>
          <p class="speaker-name"><b>Emily Stolfo</b></p>
        </li>

        <li>
          <a href="/speakers#yannick"><%= image_tag 'speakers/yannick.jpeg' %></a>
          <p class="speaker-name"><b>Yannick Schutz</b></p>
        </li>

        <li>
          <a href="/speakers#chris"><%= image_tag 'speakers/chris.jpeg' %></a>
          <p class="speaker-name"><b>Chris Kelly</b></p>
        </li>

        <li>
          <a href="/speakers#arnab"><%= image_tag 'speakers/arnab.jpeg' %></a>
          <p class="speaker-name"><b>Arnab Deka</b></p>
        </li>

        <li>
          <a href="/speakers#sam"><%= image_tag 'speakers/sam.jpeg' %></a>
          <p class="speaker-name"><b>Sam Phippen</b></p>
        </li>

        <li>
          <a href="/speakers#eloy"><%= image_tag 'speakers/eloy.jpeg' %></a>
          <p class="speaker-name"><b>Eloy Durán</b></p>
        </li>

        <li>
          <a href="/speakers#cameron"><%= image_tag 'speakers/cameron.jpeg' %></a>
          <p class="speaker-name"><b>Cameron Daigle</b></p>
        </li>

        <li>
          <a href="/speakers#konstantin"><%= image_tag 'speakers/konstantin.jpeg' %></a>
          <p class="speaker-name"><b>Konstantin Tennhard</b></p>
        </li>

        <li>
          <a href="/speakers#terence"><%= image_tag 'speakers/terence.jpeg' %></a>
          <p class="speaker-name"><b>Terence Lee</b></p>
        </li>

        <li>
          <a href="/speakers#pj"><%= image_tag 'speakers/pj.jpeg' %></a>
          <p class="speaker-name"><b>PJ Hagerty</b></p>
        </li>

        <li>
          <a href="/speakers#phil"><%= image_tag 'speakers/phil.jpeg' %></a>
          <p class="speaker-name"><b>Phil Nash</b></p>
        </li>

      </ul>
    </article>
  </div>
</section>

<section>
  <div class="row">
    <article class="small-12 large-10 columns">
      <%= partial 'newsletter' %>
    </article>
  </div>
</section>
