---
title: Schedule
---
%section#speakers
  .row
    .small-12.large-10.columns

      %article.row
        .small-3.large-2.columns
          %p.start 8.30
        .small-9.large-8.columns.end
          %h3 Day 1, June 19th
          %p Registration & Breakfast

      %article.row
        .small-3.large-2.columns
          %p.start.break 9.15
        .small-9.large-8.columns.end
          %p Welcome

      %article#chris.row
        .small-3.large-2.columns
          %p.start 9.30
          = image_tag 'speakers/chris.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Chris Kelly
            = partial 'talks/_chris'

      %article.row
        .small-3.large-2.columns
          %p.start.break 10.00
        .small-9.large-8.columns.end
          %p Break

      %article#emily.row
        .small-3.large-2.columns
          %p.start 10.20
          = image_tag 'speakers/emily.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Emily Stolfo
            = partial 'talks/_emily'

      %article.row
        .small-3.large-2.columns
          %p.start.break 10.50
        .small-9.large-8.columns.end
          %p Break

      %article#yannick.row
        .small-3.large-2.columns
          %p.start 11.10
          = image_tag 'speakers/yannick.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Yannick Schutz
            = partial 'talks/_yannick'

      %article.row
        .small-3.large-2.columns
          %p.start.break 11.40
        .small-9.large-8.columns.end
          %p Break

      %article#sam.row
        .small-3.large-2.columns
          %p.start 12.00
          = image_tag 'speakers/sam.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Sam Phippen
            = partial 'talks/_sam'

      %article.row
        .small-3.large-2.columns
          %p.start.break 12.30
        .small-9.large-8.columns.end
          %p Lunch break

      %article#eloy.row
        .small-3.large-2.columns
          %p.start 2.00pm
          = image_tag 'speakers/eloy.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Eloy Durán
            = partial 'talks/_eloy'

      %article.row
        .small-3.large-2.columns
          %p.start.break 2.30pm
        .small-9.large-8.columns.end
          %p Break

      %article#konstantin.row
        .small-3.large-2.columns
          %p.start 2.50pm
          = image_tag 'speakers/konstantin.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Konstantin Tennhard
            = partial 'talks/_konstantin'

      %article.row
        .small-3.large-2.columns
          %p.start.break 3.20pm
        .small-9.large-8.columns.end
          %p Break

      %article#joshua.row
        .small-3.large-2.columns
          %p.start 3.40pm
          = image_tag 'speakers/joshua.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Joshua Ballanco
            = partial 'talks/_joshua'

      %article.row
        .small-3.large-2.columns
          %p.start.break 4.10pm
        .small-9.large-8.columns.end
          %p Break

      %article#phil.row
        .small-3.large-2.columns
          %p.start 4.30pm
          = image_tag 'speakers/phil.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Phil Nash
            = partial 'talks/_phil'

      %article.row
        .small-3.large-2.columns
          %p.start.break 5.00pm
        .small-9.large-8.columns.end
          %p Break

      %article#pj.row
        .small-3.large-2.columns
          %p.start 5.20pm
          = image_tag 'speakers/pj.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 PJ Hagerty
            = partial 'talks/_pj'

      %article.row
        .small-3.large-2.columns
          %p.start.break 6.00pm
        .small-9.large-8.columns.end
          %p End of the talks

      %article.row
        .small-3.large-2.columns
          %p.start 7.00pm
        .small-9.large-8.columns.end
          %header
            %h3 After party
            %p
              Join us at
              = link_to 'Le 203', 'blog/2014/after-party-at-cafe-203.html'
              and enjoy the party!

      %article.row
        .small-3.large-2.columns
          %p.start 8.30
        .small-9.large-8.columns.end
          %h3 Day 2, June 20th
          %p Breakfast

      %article#tom.row
        .small-3.large-2.columns
          %p.start 9.15
          = image_tag 'speakers/tom.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Tom Stuart
            = partial 'talks/_tom'

      %article.row
        .small-3.large-2.columns
          %p.start.break 9.45
        .small-9.large-8.columns.end
          %p Break

      %article#paolo.row
        .small-3.large-2.columns
          %p.start 10.00
          = image_tag 'speakers/paolo.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Paolo Perrotta
            = partial 'talks/_paolo'

      %article.row
        .small-3.large-2.columns
          %p.start.break 10.30
        .small-9.large-8.columns.end
          %p Break

      %article#arnab.row
        .small-3.large-2.columns
          %p.start 10.45
          = image_tag 'speakers/arnab.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Arnab Deka
            = partial 'talks/_arnab'

      %article.row
        .small-3.large-2.columns
          %p.start.break 11.15
        .small-9.large-8.columns.end
          %p Break

      %article#cameron.row
        .small-3.large-2.columns
          %p.start 11.30
          = image_tag 'speakers/cameron.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Cameron Daigle
            = partial 'talks/_cameron'

      %article.row
        .small-3.large-2.columns
          %p.start.break 12.00pm
        .small-9.large-8.columns.end
          %p Break

      %article#terence.row
        .small-3.large-2.columns
          %p.start 12.15pm
          = image_tag 'speakers/terence.jpeg'
        .small-9.large-8.columns.end
          %header
            %h3 Terence Lee
            = partial 'talks/_terence'

      %article.row
        .small-3.large-2.columns
          %p.start.break 1.00pm
        .small-9.large-8.columns.end
          %p End of the talks

      %article.row
        .small-3.large-2.columns
          %p.start 3.00pm
        .small-9.large-8.columns.end
          %header
            %h3 Discussion of Ruby's future

      %article.row
        .small-3.large-2.columns
          %p.start.break 5.00pm
        .small-9.large-8.columns.end
          %p End of RuLu
