---
title: Speakers
---
%h2
  First speakers to be announced
%p
  The first speakers will be announced during the
  = succeed '.' do
    = link_to "CFP Process", '/cfp'
  = succeed '!' do
    = link_to "Stay tuned", '/newsletter'
%p
  The full speaker lineup is to be published in April.
%h3
  Want to become a speaker?
%p
  Have a look at the
  = link_to "Call For Proposal", '/cfp'
  and submit your talk!
