---
title: Speakers
---
%section#workshops
  .row
    .small-12.large-10.columns
      %h3 Full Speaker Line-Up

      %article#joshua.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/joshua.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Joshua Ballanco
            = partial 'talks/_joshua'
            = partial 'speakers/_joshua'

      %article#paolo.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/paolo.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Paolo Perrotta
            = partial 'talks/_paolo'
            = partial 'speakers/_paolo'

      %article#tom.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/tom.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Tom Stuart
            = partial 'talks/_tom'
            = partial 'speakers/_tom'

      %article#emily.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/emily.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Emily Stolfo
            = partial 'talks/_emily'
            = partial 'speakers/_emily'

      %article#yannick.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/yannick.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Yannick Schutz
            = partial 'talks/_yannick'
            = partial 'speakers/_yannick'

      %article#chris.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/chris.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Chris Kelly
            = partial 'talks/_chris'
            = partial 'speakers/_chris'

      %article#arnab.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/arnab.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Arnab Deka
            = partial 'talks/_arnab'
            = partial 'speakers/_arnab'

      %article#sam.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/sam.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Sam Phippen
            = partial 'talks/_sam'
            = partial 'speakers/_sam'

      %article#eloy.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/eloy.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Eloy Durán
            = partial 'talks/_eloy'
            = partial 'speakers/_eloy'

      %article#cameron.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/cameron.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Cameron Daigle
            = partial 'talks/_cameron'
            = partial 'speakers/_cameron'

      %article#konstantin.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/konstantin.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Konstantin Tennhard
            = partial 'talks/_konstantin'
            = partial 'speakers/_konstantin'

      %article#terence.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/terence.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Terence Lee
            = partial 'talks/_terence'
            = partial 'speakers/_terence'

      %article#pj.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/pj.jpeg'

        .small-9.large-8.columns
          %header
            %h3 PJ Hagerty
            = partial 'talks/_pj'
            = partial 'speakers/_pj'

      %article#phil.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/phil.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Phil Nash
            = partial 'talks/_phil'
            = partial 'speakers/_phil'
