---
title: Speakers
---
%section#workshops
  .row
    .small-12.large-10.columns
      %h3 Speakers
      %p
        The
        %b
          speaker lineup
        is to be published in the
        = succeed '!' do
          %b next few days
      %p
        Meanwhile, we are happy to announce the first two speakers giving a talk at RuLu:

      %article.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/joshua.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Joshua Ballanco
            %p Joshua has worked with Objective-C since 2002 and Ruby since 2004. He has built operating systems with Apple, local news websites with AOL, and somehow managed to finish a Ph.D. along the way. Currently, Joshua is Chief Scientist at Burnside Digital where he works with an amazing team of engineers and designers to solve problems for a wide range of clients. He works and lives in Ankara.
            %p
              Last year, Joshua gave a great talk on
              = succeed '.' do
                %a{ href: 'http://iny.r.mailjet.com/redirects/mx6bhjrjsqt3qkbsfncdj8/www.youtube.com/watch?v=U-yxcvAxC6s' } Ruby implementations
              Welcome back, Josh!


      %article.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/paolo.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Paolo Perrotta
            %p
              Paolo Perrotta has fifteen years of experience as a developer,
              ranging from embedded to enterprise software, computer games, and web
              applications. Paolo travels the world to mentor agile teams, and to
              pair with coders who are better at this coding stuff than he'll ever
              be. He has a base camp in Bologna, Italy. He wrote the
              = link_to "Metaprogramming Ruby book", 'http://pragprog.com/book/ppmetr/metaprogramming-ruby'
              for the Prags.

      %article.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/tom.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Tom Stuart
            %p
              Tom is a computer scientist and programmer.
              He has lectured on optimising compilers at the University of Cambridge,
              co-organises the
              = succeed ',' do
                = link_to 'Ruby Manor Conference', 'http://rubymanor.org/'
              and is a member of the
              = succeed '.' do
                = link_to "London Ruby User Group", 'https://twitter.com/lrug'
              His latest book,
              = succeed ',' do
                = link_to "Understanding Computation", 'http://shop.oreilly.com/product/0636920025481.do'
              was published by O’Reilly in 2013.
