---
title: Speakers
---
%section#workshops
  .row
    .small-12.large-10.columns
      %h3 Speakers

      %p
        More speakers to be announced in the next few days!

      %article#joshua.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/joshua.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Joshua Ballanco
            %p Joshua has worked with Objective-C since 2002 and Ruby since 2004. He has built operating systems with Apple, local news websites with AOL, and somehow managed to finish a Ph.D. along the way. Currently, Joshua is Chief Scientist at Burnside Digital where he works with an amazing team of engineers and designers to solve problems for a wide range of clients. He works and lives in Ankara.
            %p
              Last year, Joshua gave a great talk on
              = succeed '.' do
                %a{ href: 'http://iny.r.mailjet.com/redirects/mx6bhjrjsqt3qkbsfncdj8/www.youtube.com/watch?v=U-yxcvAxC6s' } Ruby implementations
              Welcome back, Josh!


      %article#paolo.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/paolo.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Paolo Perrotta
            %p
              Paolo Perrotta has fifteen years of experience as a developer,
              ranging from embedded to enterprise software, computer games, and web
              applications. Paolo travels the world to mentor agile teams, and to
              pair with coders who are better at this coding stuff than he'll ever
              be. He has a base camp in Bologna, Italy. He wrote the
              = link_to "Metaprogramming Ruby book", 'http://pragprog.com/book/ppmetr/metaprogramming-ruby'
              for the Prags.

      %article#tom.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/tom.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Tom Stuart
            %p
              Tom is a computer scientist and programmer.
              He has lectured on optimising compilers at the University of Cambridge,
              co-organises the
              = succeed ',' do
                = link_to 'Ruby Manor Conference', 'http://rubymanor.org/'
              and is a member of the
              = succeed '.' do
                = link_to "London Ruby User Group", 'https://twitter.com/lrug'
              His latest book,
              = succeed ',' do
                = link_to "Understanding Computation", 'http://shop.oreilly.com/product/0636920025481.do'
              was published by O’Reilly in 2013.

      %article#emily.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/emily.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Emily Stolfo
            %p
              Emily is an Engineer / Evangelist with the
              = link_to "MongoDB", 'http://www.mongodb.org/'
              Ruby driver team and an adjunct faculty at Columbia University.
              Before joining MongoDB Inc, Emily worked as a Ruby on Rails developer
              at a NYC startup but her history with Rails goes back to a research project at Paris’ Louvre Museum.
              In addition to enjoying programming and art, Emily likes to travel and run
              when not teaching Rails in her free time.

      %article#yannick.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/yannick.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Yannick Schutz
            %p
              Belgian web developer using Ruby, Go
              or whatever tool/language is needed for the job to be done.
              He loves coffee, beers and also emojis!
              - # But it just looks like squares on Google Chrome...
              - # So here is a snowman just for you ☃.
              Yannick is the organizer of
              = succeed ',' do
                = link_to 'ruby burgers', 'http://rubyburgers.co/'
              a simple event where you just come,
              eat a burger and chat with fellow developers.
              He is a young new dad and love that situation.

      %article#chris.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/chris.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Chris Kelly
            %p
              Chris believes that flourishing is the key to happiness, servers are
              an anachronism, and the person that will create SkyNet has already
              been born. He is an avid Rubyist and spends an inordinate amount of
              time thinking about the philosophy of software. Chris lives in San
              Francisco, tweets occasionally, speaks often, and drinks coffee in
              between. At
              = link_to 'GitHub', 'https://github.com/'
              he interacts with humans and computers.

      %article#arnab.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/arnab.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Arnab Deka
            %p
              Arnab is currently a Senior Software Engineer at
              = link_to 'LivingSocial', 'https://www.livingsocial.com/'
              and has been writing Ruby (i.e. having fun) since 2008.
              He loves to travel around the world - and has so far experienced living and working
              in Pune, Bangalore, NYC and Seattle (previously part of the AWS team at Amazon.com).
              Arnab has been crafting software professionally for 9 years and is more passionate about it every new day!
              Learn more at
              = succeed '.' do
                = link_to 'github.com/arnab', 'https://github.com/arnab'

      %article#sam.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/sam.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Sam Phippen
            %p
              Sam is a swashbuckling hacker from London, UK.
              He fixes every size of data problem at
              = succeed '.' do
                = link_to 'Fun and Plausible Solutions', 'http://funandplausible.com/'
              He helps fight for the forces of justice as a member of the
              = link_to 'RSpec', 'http://rspec.info/'
              core team.
              He's sad that he can't hug every cat.

      %article#eloy.row
        .small-3.large-4.columns.text-center
          = image_tag 'speakers/eloy.jpeg'

        .small-9.large-8.columns
          %header
            %h3 Eloy Durán
            %p
              Eloy Durán is a professional gesticulator hailing from Amsterdam
              where he lives on a houseboat. He has long been working at the intersection
              of open-source Ruby and Objective-C/Cocoa on open-source projects such as
              = succeed ',' do
                = link_to 'RubyCocoa', 'http://rubycocoa.sourceforge.net'
              = succeed ',' do
                = link_to 'MacRuby', 'http://macruby.org'
              and
              = link_to 'CocoaPods', 'http://cocoapods.org'
              (the dependency manager for Objective-C projects).
              This combination has lead to his current job at HipByte where he works on
              = succeed ',' do
                = link_to 'RubyMotion', 'http://www.rubymotion.com'
              bringing the joy of Ruby to OS X and iOS development.
              You can find him on
              = link_to 'github', 'https://github.com/alloy'
              and
              = succeed '.' do
                = link_to 'twitter', 'https://twitter.com/alloy'



